<!DOCTYPE html>
<html>
	<head>
		<title>Bulletin-board</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<link rel="stylesheet" href="index.css" />
	</head>
	<body>
		<div class="backgroundImg_container">
			<img src="/background.png" />
			<div class="comment_container">
				<h1>發表一篇圖文ʕ•ᴥ•ʔ</h1>
				<form id="images_form">
					<div>
						文字內容<input
							type="text"
							name="comment"
							id="comment"
							placeholder="選擇一張圖片後送出"
							required
						/>
					</div>
					<div>
						圖片檔案<input
							type="file"
							name="image"
							id="image"
							accept="image/*"
							required
						/>
					</div>
					<input type="submit" id="submit" value="送出" />
				</form>
			</div>
		</div>
		<hr />
		<div class="uploadedimage_container">
			<p id="loader"></p>
		</div>
		<script src="/index.js"></script>
	</body>
</html>
