.backgroundImg_container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.comment_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 166px;
}
.backgroundImg_container > img {
	width: 350px;
}
body {
	background-color: #e8ebba40;
}
input {
	border: none;
	padding: 5px;
	border-radius: 5px;
	margin-left: 5px;
}
#submit {
	position: absolute;
	right: 0;
	top: 157px;
	width: 50px;
}
.uploadedimage_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.uploadedimage_container > img {
	width: 300px;
}
.comment {
	color: #e91e63;
	font-family: monospace;
	font-weight: 800;
	font-size: 18px;
}
#loader {
	display: none;
	position: absolute;
	top: 66px;
	z-index: 1;
	width: 120px;
	height: 120px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #4acad5;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
